@keyframes slideInOut {
  0%, 100% {
    transform: translateY(0px) skew(-6deg);
  }
  50% {
    transform: translateY(-10px) skew(-6deg);
  }
}

.animate-slide {
  animation: slideInOut 3s infinite;
}
